.cart{
    padding: 10px;
    header{
        background-color: rgb(97, 247, 202);
        font-size: 1.2rem;
    }
   .destination{
       display: flex;
       justify-content: space-between;
        margin: 10px 0;
        label{
            font-size: 1rem;
        }
       select{
           width: 50%;
           border:1px solid #ccc;
           outline: none;
           background: none;
           font-size: 1.1rem;
       }
   }
   .delivery-and-price{
       color: rgb(134, 133, 133);
       display: flex;
       flex-direction: column;
       div{
           display: flex;
           justify-content: space-between;
           margin-bottom: 5px;
           input{
               border:none;
               outline: none;
               text-align: right;
               color: inherit;
               width: 25%;
           }
       }
   }

   .total{
       display: flex;
       justify-content: space-between;
       font-weight: 700;
       font-size: 1.4rem;
       border-top: 1px solid rgb(112, 111, 111);
       margin: 15px 0;
       padding: 10px 0;
       
       input{
            font-size: inherit;
            font-weight: inherit;
            text-align: right;
            width: 30%;
            border: none;
       }
   }
   .submit{
       padding: 10px;
        display: flex;
        flex-direction: column;
    input{
        margin-bottom: 10px;
        font-size: 1rem;
        padding:3px;
        border: 1px solid #ccc;
        outline: none;
        
        }
    button{
        background-color: #067397;
        color: #fff;
        outline:none;
        border:none;
        height: 40px;
        margin-top:20px;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius:3px;
        &:hover{
            background-color: #069ed1;
        }
    }
}
}
.delete{
   position:absolute;
   top:5px;
   right:5px;
   width: 15px;


}
.cart-items{
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom:1px solid #eee;
    margin: 5px 0; 
    section{
        display: flex;
       
        img{
        // width: 75px;
        height: 75px;
        }
        .price-qty{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
           
        
           .price-info{
                color:rgb(97, 247, 202);
               .price{
                font-size: 2rem;
                
            }

           }
           .product-qty{
               color:#aaa;
               font-size: 1.5rem;
               input{
                   width: 30px;
                   text-align: center;
                   border:1px solid #eee;
                   font-size: 1.5rem;
                   margin:5px 10px ;
               }
           }
            
        }
    
    }
    
    h3{
        align-self: start;
    }
    
}