.searchbox{
    display: flex;
    width: 90%;
    margin:0 auto;
    input[type='text']{
        width:100%;
        border:2px solid #48c2d8;
        border-radius: 3px;
        height: 2rem;
        color:#037a8f;
        outline: none;
        font-size: 1.3rem;
        padding: 1 3px;
    }
    img{
        height:30px;
        margin:0;
        padding: 0;
       
    }
    button{
        align-self: center;
        margin-left: -33px;
        padding:0;
        border:none;
        outline: none;
        cursor: pointer;
        background: none;
    }
}